;Prevent sharing ROMs accidentally.
*.gb
*.gbc
*.sav
*.rtc

;Prevent committing compiled object code.
*.o
*.2bpp
*.1bpp
*.pcm
*.map
*.sym
*.tmap
*.pyc

;Prevent committing compiled script data.
*.scripttbl
*.stringtbl
*.stringblk
*.stringidx
*.sprite.bin
*.atf

;Prevent committing build files.
dependencies.d

;Prevent committing filesystem flotsam.
.DS_Store
